{% extends 'main.html' %}
{% block content %}

<div class="container">
    <div class="container-sm">
        <h1>JESSICA KINCAID</h1>
        <h2>Full Stack Developer</h2>
        <h3>About me</h3>
        <p>I've held two internships, mentored adult learners in coding since 2017, graduated from LaunchCode coding bootcamp with an emphasis in Python and JavaScript, served as an instructional assistant for LaunchCode, and earned an AAS in Web Development and Digital Media.</p>
    </div>

    <h3>Projects</h3>
    <hr>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for artwork in artworks|slice:"12" %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ artwork.featured_image.url }}" class="card-img-top img-thumbnail" alt="detail of artwork">
                <div class="card-body">
                    <h6 class="card-title">{{ artwork.title }}</h6>
                    <p class="card-text">
                        Category <a class="btn btn-secondary btn-sm" href="{% url 'user-profile' artwork.owner.id %}">{{ artwork.owner.name }}</a>
                    </p>
                    <p><small>added {{ artwork.created }}</small></p>
                    <p>{{ artwork.topic }}</p>
                    <p>{{ artwork.vote_ratio }}%</p>
                    <p class="card-text">{{ artwork.vote_total }} Vote{{ artwork.vote_total|pluralize:"s" }} Received</p>
                    
                    {% if artwork.vote_ratio >= 95 %}
                        <!-- 5 stars -->
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    {% elif artwork.vote_ratio >= 84 %}
                        <!-- 4 stars -->
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    {% elif artwork.vote_ratio >= 74 %}
                        <!-- 3.5 stars -->
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half checked"></span>
                        <span class="fa fa-star"></span>
                    {% elif artwork.vote_ratio >= 64 %}
                        <!-- 3 stars -->
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    {% elif artwork.vote_ratio >= 50 %}
                        <!-- 2.5 stars -->
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    {% elif artwork.vote_ratio >= 30 %}
                        <!-- 2 stars -->
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    {% elif artwork.vote_ratio >= 24 %}
                        <!-- 1 star -->
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    {% elif artwork.vote_ratio >= 20 %}
                        <!-- 0.5 star -->
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-half checked"></span>
                    {% elif artwork.vote_ratio >= 10 %}
                        <!-- 0 stars -->
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-half checked"></span>
                    {% else %}
                        <!-- 0 stars -->
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    {% endif %}
                    
                    <hr>
                    <a href="{% url 'artwork' artwork.id %}" class="btn btn-secondary btn-sm">Detail View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}