{% extends 'main.html' %}

{% block content %}


  <div class="container-md">
    <h1>{{profile.name}}</h1>
    <h3>{{profile.role}}</h3>
    

    <img src="{{ profile.profile_image.url }}" style="max-width: 400px; border-radius: 1%;" class="card-img-top" alt="profile image" />
      <div class="card">
        <div class="card-body">

          {% if profile.social_insta %}
            <p class="card-text">
              <a class="card-text btn btn-secondary btn-sm" href="{{profile.social_insta}}" target="_blank">instagram</a>
            </p>
          {% endif %}

          {% if profile.social_twitter %}
            <p class="card-text">
              <a class="card-text btn btn-secondary btn-sm" href="{{profile.social_twitter}}" target="_blank">twitter</a>
            </p>
          {% endif %}

          
          {% if profile.social_other %}
          <p class="card-text">
            <a class="card-text btn btn-secondary btn-sm" href="{{profile.social_other}}" target="_blank"></a>
          </p>
          {% endif %}

          {% if profile.brief_bio %}
            <p class="card-text">
                <h6 class="card-text">{{profile.brief_bio}}</h6>
            </p>
          {% endif %}
                  
              <a href="{{profile.website}}" target="_blank" button type="button" class="btn btn-primary">Website</a>
              {% if request.profile.id != profile.id %}
                <a href="{% url 'create-message' profile.id %}" button type="button" class="btn btn-primary">Send Internal Message</button></a>
              <hr>
              {% endif %}
          <div class="container">
            <h3>My Artworks<h3>
              <div class="row row-cols-1 row-cols-md-3 g-4">
              {% for artwork in profile.artwork_set.all %}
                  
              <div class="card" style="width: 18rem;">
                    <a href="{% url 'artwork' artwork.id %}"
                      <img style="max-width: 50px;" src="{{ artwork.featured_image.url }}"></a>
                          <img src="{{ artwork.featured_image.url }}" class="card-img-top img-thumbnail"  alt="detail of artwork">
                          <div class="card-body">
                              <h5 class="card-title">{{artwork.title}}</h5>
                          <h6 class="card-text">Score {{artwork.vote_ratio}}%</h6>
                          <h6 class="card-text">{{artwork.vote_total}} Vote{{artwork.vote_total|pluralize:"s"}}</h6>
                      </div>
                  </div>
              {% endfor %}
            </div>
        </div>
    </div>
        
  </div>



{% endblock %}