{% extends 'main.html' %}
{% block content %}


<div class="container-md">
        <div class="container">
            <h3>Password reset</h3>

            <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new
                one.</p>

            <br>

            <form class="form" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="btn btn-primary btn-sm" value="Submit" />
            </form>
        </div>
    </div>


{% endblock %}